[DEFAULT]
ignoreip  = 127.0.0.1 {% for _ip in common.fail2ban.whiteList %}{{ _ip }}{% endfor %}

bantime   = 86400
destemail = {{ common.adminEmail }}
banaction = iptables-multiport
action    = %(action_mwl)s

{% if common.fail2ban.services.enabled.ssh %}
[ssh]
enabled   = true
maxretry  = 3
{% endif %}

{% if common.fail2ban.services.enabled.sshddos %}
[ssh-ddos]
enabled   = true
{% endif %}

{% if common.fail2ban.services.enabled.nginx %}
[nginx]
enabled   = true
port      = http
filter    = nginx
logpath   = /var/log/nginx/*-access.log
maxretry  = 120
findtime  = 60
bantime   = 172800
{% endif %}